In [1]:
import pandas as pd
import numpy as np
import datetime
import calendar

In [2]:
date_data=pd.read_csv('dates_month.csv')
date_data=date_data[['Date','Day','New_Weight']]
date_data

    Date        Day  New_Weight
0      1     Friday           4
1      2   Saturday           5
2      3     Sunday           3
3      4     Monday           1
4      5    Tuesday           2
5      6  Wednesday           1
6      7   Thursday           2
7      8     Friday           4
8      9   Saturday           5
9     10     Sunday           3
10    11     Monday           1
11    12    Tuesday           2
12    13  Wednesday           1
13    14   Thursday           5
14    15     Friday           4
15    16   Saturday           5
16    17     Sunday           3
17    18     Monday           1
18    19    Tuesday           2
19    20  Wednesday           1
20    21   Thursday           2
21    22     Friday           4
22    23   Saturday           5
23    24     Sunday           3
24    25     Monday           1
25    26    Tuesday           5
26    27  Wednesday           1
27    28   Thursday           2
28    29     Friday           4
29    30   Saturday           5
30    31     Sunday           3

In [3]:
employee_list=pd.read_csv('employee.csv')
employee_list=employee_list[["Employee_name","Teams","Team_Weight"]]
employee_list

  Employee_name   Teams  Team_Weight
0             a     red            3
1             b     red            3
2             c    blue            3
3             d  silver            3
4             e    blue            3

In [4]:
holiday_list_people=[]
holiday_list=[]
holiday_dates=[]
for i in range(0,len(employee_list['Employee_name'])):
    check=input("Enter the number of holidays for employee " + employee_list["Employee_name"][i])
    holiday_list.append(check)
    if(int(check)>0):
        holiday_list_people.append(employee_list["Employee_name"][i])
#         for j in (0,int(check)):
#             check2=input("Enter the dates for applied holidays")
#             holiday_dates.append(check2)
holiday_list

Enter the number of holidays for employee a2
Enter the number of holidays for employee b3
Enter the number of holidays for employee c2
Enter the number of holidays for employee d0
Enter the number of holidays for employee e0

['2', '3', '2', '0', '0']

In [5]:
holiday_list_people

['a', 'b', 'c']

In [6]:
holiday_list_updated=[]
for i in holiday_list:
    if(int(i)>0):
        holiday_list_updated.append(i)

holiday_list_updated

['2', '3', '2']

In [7]:
sum_check=[]
i=0

while(i!=len(holiday_list_updated)+1):
    check=0
    for j in range(0,int(i)):
        print(int(holiday_list_updated[j]))
        check+=(int(holiday_list_updated[j]))
    sum_check.append(check)
    i=i+1
    
sum_check

2
2
3
2
3
2

[0, 2, 5, 7]

In [8]:
holiday_dates=[]
for i in range(0,len(holiday_list_updated)):
    for j in range(0,int(holiday_list_updated[i])):
        check=input("enter the dates of holidays for " + holiday_list_people[i])
        holiday_dates.append(check)
        
holiday_dates

enter the dates of holidays for a2
enter the dates of holidays for a3
enter the dates of holidays for b6
enter the dates of holidays for b7
enter the dates of holidays for b4
enter the dates of holidays for c9
enter the dates of holidays for c13

['2', '3', '6', '7', '4', '9', '13']

In [9]:
weights_holidays=[] 
for i in holiday_list_updated: 
    check=31/(31-int(i)) 
    weights_holidays.append(check)

weights_holidays

[1.0689655172413792, 1.1071428571428572, 1.0689655172413792]

In [10]:
new_check=[]
for i in range(0,len(employee_list["Employee_name"])):
    new_check=date_data["New_Weight"]
    date_data["New_Weight "+employee_list["Employee_name"][i]]=new_check
date_data

,Date,Day,New_Weight,New_Weight a,New_Weight b,New_Weight c,New_Weight d,New_Weight e
0,1,Friday,4,4,4,4,4,4
1,2,Saturday,5,5,5,5,5,5
2,3,Sunday,3,3,3,3,3,3
3,4,Monday,1,1,1,1,1,1
4,5,Tuesday,2,2,2,2,2,2
5,6,Wednesday,1,1,1,1,1,1
6,7,Thursday,2,2,2,2,2,2
7,8,Friday,4,4,4,4,4,4
8,9,Saturday,5,5,5,5,5,5
9,10,Sunday,3,3,3,3,3,3
10,11,Monday,1,1,1,1,1,1
11,12,Tuesday,2,2,2,2,2,2
12,13,Wednesday,1,1,1,1,1,1
13,14,Thursday,5,5,5,5,5,5
14,15,Friday,4,4,4,4,4,4
15,16,Saturday,5,5,5,5,5,5
16,17,Sunday,3,3,3,3,3,3
17,18,Monday,1,1,1,1,1,1
18,19,Tuesday,2,2,2,2,2,2
19,20,Wednesday,1,1,1,1,1,1
20,21,Thursday,2,2,2,2,2,2
21,22,Friday,4,4,4,4,4,4
22,23,Saturday,5,5,5,5,5,5
23,24,Sunday,3,3,3,3,3,3
24,25,Monday,1,1,1,1,1,1
25,26,Tuesday,5,5,5,5,5,5
26,27,Wednesday,1,1,1,1,1,1
27,28,Thursday,2,2,2,2,2,2
28,29,Friday,4,4,4,4,4,4
29,30,Saturday,5,5,5,5,5,5
30,31,Sunday,3,3,3,3,3,3

In [11]:
new_weight=[]
for i in range(0,len(weights_holidays)):
    new_weight=date_data["New_Weight"]*float(weights_holidays[i])
    date_data["New_Weight "+holiday_list_people[i]]=new_weight
date_data

,Date,Day,New_Weight,New_Weight a,New_Weight b,New_Weight c,New_Weight d,New_Weight e
0,1,Friday,4,4.275862,4.428571,4.275862,4,4
1,2,Saturday,5,5.344828,5.535714,5.344828,5,5
2,3,Sunday,3,3.206897,3.321429,3.206897,3,3
3,4,Monday,1,1.068966,1.107143,1.068966,1,1
4,5,Tuesday,2,2.137931,2.214286,2.137931,2,2
5,6,Wednesday,1,1.068966,1.107143,1.068966,1,1
6,7,Thursday,2,2.137931,2.214286,2.137931,2,2
7,8,Friday,4,4.275862,4.428571,4.275862,4,4
8,9,Saturday,5,5.344828,5.535714,5.344828,5,5
9,10,Sunday,3,3.206897,3.321429,3.206897,3,3
10,11,Monday,1,1.068966,1.107143,1.068966,1,1
11,12,Tuesday,2,2.137931,2.214286,2.137931,2,2
12,13,Wednesday,1,1.068966,1.107143,1.068966,1,1
13,14,Thursday,5,5.344828,5.535714,5.344828,5,5
14,15,Friday,4,4.275862,4.428571,4.275862,4,4
15,16,Saturday,5,5.344828,5.535714,5.344828,5,5
16,17,Sunday,3,3.206897,3.321429,3.206897,3,3
17,18,Monday,1,1.068966,1.107143,1.068966,1,1
18,19,Tuesday,2,2.137931,2.214286,2.137931,2,2
19,20,Wednesday,1,1.068966,1.107143,1.068966,1,1
20,21,Thursday,2,2.137931,2.214286,2.137931,2,2
21,22,Friday,4,4.275862,4.428571,4.275862,4,4
22,23,Saturday,5,5.344828,5.535714,5.344828,5,5
23,24,Sunday,3,3.206897,3.321429,3.206897,3,3
24,25,Monday,1,1.068966,1.107143,1.068966,1,1
25,26,Tuesday,5,5.344828,5.535714,5.344828,5,5
26,27,Wednesday,1,1.068966,1.107143,1.068966,1,1
27,28,Thursday,2,2.137931,2.214286,2.137931,2,2
28,29,Friday,4,4.275862,4.428571,4.275862,4,4
29,30,Saturday,5,5.344828,5.535714,5.344828,5,5
30,31,Sunday,3,3.206897,3.321429,3.206897,3,3

In [12]:
index_holi=[]
date_list=date_data['Date'].T.tolist()
# date_list=np.array(date_list)
for i in holiday_dates:
    check=date_list.index(int(i))
    index_holi.append(check)
index_holi

[1, 2, 5, 6, 3, 8, 12]

In [13]:
p=0
while(p<len(holiday_list_people)):
    for j in range(0,len(sum_check)-1):
        for k in range(int(sum_check[j]),int(sum_check[j+1])):
            date_data["New_Weight "+holiday_list_people[p]][index_holi[k]]=0
            print(holiday_list_people[p])
            print(index_holi[k])
        p=p+1

date_data

a
1
a
2
b
5
b
6
b
3
c
8
c
12

C:\Users\jaiut\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

,Date,Day,New_Weight,New_Weight a,New_Weight b,New_Weight c,New_Weight d,New_Weight e
0,1,Friday,4,4.275862,4.428571,4.275862,4,4
1,2,Saturday,5,0.000000,5.535714,5.344828,5,5
2,3,Sunday,3,0.000000,3.321429,3.206897,3,3
3,4,Monday,1,1.068966,0.000000,1.068966,1,1
4,5,Tuesday,2,2.137931,2.214286,2.137931,2,2
5,6,Wednesday,1,1.068966,0.000000,1.068966,1,1
6,7,Thursday,2,2.137931,0.000000,2.137931,2,2
7,8,Friday,4,4.275862,4.428571,4.275862,4,4
8,9,Saturday,5,5.344828,5.535714,0.000000,5,5
9,10,Sunday,3,3.206897,3.321429,3.206897,3,3
10,11,Monday,1,1.068966,1.107143,1.068966,1,1
11,12,Tuesday,2,2.137931,2.214286,2.137931,2,2
12,13,Wednesday,1,1.068966,1.107143,0.000000,1,1
13,14,Thursday,5,5.344828,5.535714,5.344828,5,5
14,15,Friday,4,4.275862,4.428571,4.275862,4,4
15,16,Saturday,5,5.344828,5.535714,5.344828,5,5
16,17,Sunday,3,3.206897,3.321429,3.206897,3,3
17,18,Monday,1,1.068966,1.107143,1.068966,1,1
18,19,Tuesday,2,2.137931,2.214286,2.137931,2,2
19,20,Wednesday,1,1.068966,1.107143,1.068966,1,1
20,21,Thursday,2,2.137931,2.214286,2.137931,2,2
21,22,Friday,4,4.275862,4.428571,4.275862,4,4
22,23,Saturday,5,5.344828,5.535714,5.344828,5,5
23,24,Sunday,3,3.206897,3.321429,3.206897,3,3
24,25,Monday,1,1.068966,1.107143,1.068966,1,1
25,26,Tuesday,5,5.344828,5.535714,5.344828,5,5
26,27,Wednesday,1,1.068966,1.107143,1.068966,1,1
27,28,Thursday,2,2.137931,2.214286,2.137931,2,2
28,29,Friday,4,4.275862,4.428571,4.275862,4,4
29,30,Saturday,5,5.344828,5.535714,5.344828,5,5
30,31,Sunday,3,3.206897,3.321429,3.206897,3,3

In [14]:
date_data.to_csv('final_date_weights.csv')